[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Cc]lient_Data/
[Ss]erver_Data/
[Bb]uilds/
 
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.pidb
*.pdb
*.userprefs
*.DS_Store
*.sublime-project
*.sublime-workspace
 
# Don't you dare put builds in MY repo
*.app
*.apk
*.exe

# .gitignore file courtesy of TDA571